@import './SCSS/colors';
@import './SCSS/font';
@import './SCSS/nav';
@import './SCSS/card';
@import './SCSS/button';
@import './SCSS/footer';
@import './SCSS/media';



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:$gray-clr;
}