.main {
    &-title {
      text-align: center;
      margin: 1.2em 0;
      // background: $orange-green-gradient;
    }
  }
  .cards {
    display: grid;
    // height: 100vh;
    grid-template-columns: repeat(1, 250px);
    gap: 20px;
    justify-content: center;
    .card{
        background-size: 329px;
        background-repeat: no-repeat;
        background-position: top;
        padding:10rem 0 0 0;
        transition: transform 0.3s ease;
        border-radius: 0.7em;
        box-shadow: $shadow1-reverse-clr;
        height: 20rem;
        overflow: hidden;
      .card-title{
        margin-top: -1em;
      }
        &:hover{
            transform: scale(1.02);
            box-shadow: $shadow1-clr;
            transition: 0.3s ease;
            .card-description{
            margin: 0.7rem 0;

              &::before{
                display: none;
                transition: 0.3s ease;
              }
            }
            .card-content{
                transform: translateY(0);
            }
            .card-title{
                &:after{
                    transform: scaleX(1);
                }
            }
        }
    }
    .card-content{
        // background: black;
        padding:1em;
        background:$mat-black-clr;
        color:white;
        height:11rem;
        transform: translateY(13%);
    
    .card-title{
        position:relative;
        padding: 0.5em 0;
        // background-image:$yellow-gradient;
        // background-clip: text;
        // color:transparent;
        
        &:after{
            content: '';
            position: absolute;
            height:2px;
            bottom:0;
            left:0;
            background: $green-clr;
            width:100%;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;

        }
    }
    .card-description{
        
            margin: 1rem 0 34px 0;
            height: 3rem;
            
        
            &::before{
            content: '';
            position: absolute;
            height:2px;
            top:24.69%;
            left:1rem;
            background: $orange-clr;
            width:87%;
           
            }
    }

  }
}
  
  .card-1{
    background-image: url('../../Images/faqDesktop.png');

  }
  .card-2{
    background-image: url('../../Images/NoteTakerDesktop.png');

  }
  .card-3{
    background-image: url('../../Images/SnakeGame.png');

  }
  .card-4{
    background-image: url('../../Images/AnimatedNavbarDesktop.png');
    
  }