$primary-clr: rgb(78, 75, 75);
$mat-black-clr:#171717;
$secondary-clr:white;
$purple-clr:rgb(206, 98, 206);
$black-gradient-clr:linear-gradient(
    hsla(0, 0%, 0%, 0 ),
    hsla(20, 0%, 0%, 0.5) 10%,
    hsla(0, 0%, 0%, 1),
);
$blue-gradient: linear-gradient(
    hsl(192, 69, 89),
    hsl(212, 96, 81) 20%,
    hsl(212, 89, 75),
);
$shadow-clr:0 4px 8px rgba(0,30,84,0.7);
$shadow1-hover-clr:8px 8px 0px #212121;
$shadow1-clr:4px 4px 0px #212121;
$shadow1-reverse-clr: -4px -4px 0px #212121;
$nav-blue-clr:#7596F8;
$bg-opacity: hsla(0,0%,97.3%,0.58);
$gray-clr:#dbe1e8;
$green-clr:#09C372;
$orange-clr:#FA8142;
$blue-clr: #1FDDFF;
$yellow-clr:#FDC835;
$yellow-gradient:linear-gradient(90deg, $orange-clr, $yellow-clr);
$blue-orange-gradient:linear-gradient(80deg, $orange-clr,$blue-clr);
@function setTextColor($color){
    @if($color == $primary-clr){
        @return $secondary-clr;
    } 
    @else {
        @return  $primary-clr;
    } 
    
}

@mixin setbg($color) {
    background: $color;
    color : setTextColor($color);
};