@mixin text($text-color) {
        position: absolute;
        opacity: 0.8;
        transform: scale(0) translateY(0px);
        transition: transform 0.2s ease;
        background: $text-color;
        color: $secondary-clr;
        display: inline-block;
        padding: 0.32em 0.5em 0.3em;
        border-radius: 0.5em;
}
nav {
    display: flex;
    justify-content: space-between;
    background: $primary-clr;
    color: $secondary-clr;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-decoration: none;
      li {
        list-style: none;
      }
    }
  
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      .uil-estate,.uil-heart{
        display:none;
      }
      &:hover {
        .icon-font {
          opacity: 1;
        }
        .text-home,.text-github,.text-like {
          transform: scale(1) translateY(40px);
        }
      }
      .icon-font {
        font-size: 1.7rem;
        padding: 0 1em;
        color: $secondary-clr;
        opacity: 0.8;
      }
      .text-home {
       @include text($nav-blue-clr);
      }
      .text-github{
       @include text($green-clr);
      }
      .text-like{
       @include text($orange-clr);
      }
    }
  }
  