@import './font';
@import './colors';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    @include setbg($secondary-clr);
    font-family:$font-stack;
    font-weight:$font-weight;
    p{
        font-family: $font-stack1;
        font-weight:$font-weight-bold;
    }

    nav{
        display:flex;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;        
            text-decoration: none;
            li{
                list-style: none;
                .text{
                    display:none;
                }
            }
        }       
    }

}
