@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  font-weight: 650;
}

h2, .text {
  font-family: "Russo One", sans-serif;
  font-weight: 650;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4e4b4b;
  color: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

nav .icon:hover .icon-font {
  opacity: 1;
}

nav .icon:hover .text-home, nav .icon:hover .text-github, nav .icon:hover .text-like {
  -webkit-transform: scale(1) translateY(40px);
          transform: scale(1) translateY(40px);
}

nav .icon .icon-font {
  font-size: 1.7rem;
  padding: 0 1em;
  color: white;
  opacity: 0.8;
}

nav .icon .text-home {
  position: absolute;
  opacity: 0.8;
  -webkit-transform: scale(0) translateY(0px);
          transform: scale(0) translateY(0px);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  background: #7596F8;
  color: white;
  display: inline-block;
  padding: 0.32em 0.5em 0.3em;
  border-radius: 0.5em;
}

nav .icon .text-github {
  position: absolute;
  opacity: 0.8;
  -webkit-transform: scale(0) translateY(0px);
          transform: scale(0) translateY(0px);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  background: #09C372;
  color: white;
  display: inline-block;
  padding: 0.32em 0.5em 0.3em;
  border-radius: 0.5em;
}

nav .icon .text-like {
  position: absolute;
  opacity: 0.8;
  -webkit-transform: scale(0) translateY(0px);
          transform: scale(0) translateY(0px);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  background: #FA8142;
  color: white;
  display: inline-block;
  padding: 0.32em 0.5em 0.3em;
  border-radius: 0.5em;
}

.main-title {
  text-align: center;
  margin: 1.2em 0;
}

.cards {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: (320px)[2];
      grid-template-columns: repeat(2, 320px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card {
  background-size: contain;
  padding: 10rem 0 0 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 0.7em;
  -webkit-box-shadow: 0 4px 8px rgba(0, 30, 84, 0.7);
          box-shadow: 0 4px 8px rgba(0, 30, 84, 0.7);
  overflow: hidden;
}

.cards .card .card-title {
  margin-top: -1em;
}

.cards .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cards .card:hover .card-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards .card:hover .card-title:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cards .card-content {
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0.5)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 10%, black);
  color: white;
  -webkit-transform: translateY(67%);
          transform: translateY(67%);
}

.cards .card-title {
  position: relative;
  padding: 0.5em 0;
}

.cards .card-title:after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #09C372;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.cards .card-description {
  margin: 0.7rem 0;
  height: 3rem;
}

.card-1 {
  background-image: url("../../Images/faqDesktop.png");
}

.card-2 {
  background-image: url("../../Images/NoteTakerDesktop.png");
}

.card-3 {
  background-image: url("../../Images/SnakeGame.png");
}

.card-4 {
  background-image: url("../../Images/AnimatedNavbarDesktop.png");
}

.card-btn-container a {
  text-decoration: none;
  color: #fff;
}

.card-btn-container .learn-more {
  font-family: "Russo One", sans-serif;
  padding: 0.6em;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 2px solid #09C372;
}

.card-btn-container .learn-more:hover {
  background: #09C372;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.card-btn-container .code {
  font-family: "Russo One", sans-serif;
  padding: 0.6em;
  margin-bottom: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 2px solid #FA8142;
}

.card-btn-container .code:hover {
  background: #FA8142;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

footer p {
  text-align: center;
  margin: 1.5rem 0 0 0;
}

footer p code {
  background: linear-gradient(80deg, #FA8142, #1FDDFF);
  font-size: 1.1em;
}

footer .uil-coffee {
  font-size: 0.87em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dbe1e8;
}
