.navigation {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      margin-left: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}
