@import "./custom";


*{
    font-family: 'Fira Mono', monospace;
}

// Hide Article-Content

.article{
    .article-content{
        display: none;
    }
    .active{
        display: block;
    }
}

.article-col{
    background-color: #FFF0E5;
}

// i{
//     color:$white;
// }