@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#ee6352), to(#d16e8d));
  background: linear-gradient(90deg, #ee6352, #d16e8d);
  font-family: "Kumbh Sans", sans-serif;
}

/* == Styles for Images and Main Title == */
.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.hero .faq_title {
  text-align: center;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 144px;
}

.img .img1 {
  position: absolute;
  z-index: 1;
  top: 1rem;
  height: 187px;
}

.img .img2 {
  position: absolute;
  top: 100px;
  z-index: 0;
  width: 317px;
}

/* == Main div with all Faq's == */
.main {
  background: #fff;
  margin: 0 1em;
  padding: 2em 2em;
  border-radius: 2em;
  padding-top: 9em;
  -webkit-box-shadow: 0px 0px 50px 2px rgba(100, 93, 93, 0.5);
          box-shadow: 0px 0px 50px 2px rgba(100, 93, 93, 0.5);
}

/* == article with Question & Answer == */
.questions_answers {
  /* Question & Button */
  /* == Answer == */
}

.questions_answers .question {
  padding: 1em 0;
  border-bottom: 1px solid #979595;
}

.questions_answers .question p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions_answers .question p:hover {
  color: #021ffe;
  cursor: pointer;
}

.questions_answers .question .question-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 0.8em;
  width: 1.7em;
}

.questions_answers .question .question-btn img {
  height: 0.8em;
  width: 1.3em;
}

.questions_answers .answer p {
  padding-top: 1em;
  color: #f47c57;
  border-bottom: 1px solid #979595;
  padding-bottom: 0.5em;
}

/* == Styling for the Footer == */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 10vmin;
  padding-bottom: 1em;
}

.attribution a {
  color: #f3fd6d;
}

.attribution .pritam {
  font-size: 0.9rem;
}

.attribution .pritam span {
  font-size: 1.3rem;
}

.attribution .pritam:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
  color: #fff;
}

/* == Important For JavaScript(Toggling) Functionality == */
.show_answer .answer {
  display: block;
}

.show_answer .question-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.show_answer .question p {
  font-weight: 700;
}

.answer {
  display: none;
}

/* == For Large Screens == */
@media only screen and (min-width: 750px) {
  .hero {
    -ms-grid-columns: (0fr)[2];
        grid-template-columns: repeat(2, 0fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .main {
    padding: 3em 3em;
    border-radius: 2em;
    width: 47vw;
    margin: 4em 2em;
    padding-left: 16em;
    text-align: center;
  }
  .hero .main .answer p {
    text-align: left;
    font-size: 1em;
  }
  .questions_answers .question {
    font-size: 1.3em;
  }
  .questions_answers .question p:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(red), to(blue));
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text;
    color: transparent;
    cursor: pointer;
  }
  .questions_answers .question .question-btn img {
    height: 0.8em;
    width: 1.2em;
  }
  .img .img1 {
    position: absolute;
    z-index: 1;
    top: 12rem;
    height: 246px;
    right: 65%;
  }
  .img .img2 {
    right: 65%;
    top: 21rem;
    width: 351px;
  }
}

@media only screen and (min-width: 1200px) {
  .img .img1 {
    right: 69%;
  }
  .img .img2 {
    right: 69%;
  }
}
/*# sourceMappingURL=style.css.map */